*.exe
!stockfish.js
data/
extractions/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
chess_env/
.ipynb_checkpoints/
*.ipynb_checkpoints
.vscode/
.idea/
*.suo
*.user
.DS_Store
Thumbs.db
desktop.ini
*.log
*.tmp
